body {
    margin: 0;
    background-color: #CEEEF9;
}

header {
    background-image: url(../IMG/chamel.jpg);
    display: flex;
    height:368px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2e28c;
    font-size: 1.2em;
    font-weight: bold; 
}

li > a{
   text-decoration: none; /* suppression du texte souligné du lien */
   color: #505050; /* couleur du texte noire */
 }
 /* au survol des liens et de l'icone la couleur passe blanche */
 li > a:hover, li > .navbarIcon:hover{
   color: #ceeef9;
 }

 /* Sur grands écrans l'icone menu-burger est masquée */
li > .navbarIcon{
   display: none;
 }

#intro {
   font-family: Arial, Helvetica, sans-serif;
   margin: 1.5em; /* marges extérieures de la div */
   padding: 1em; /* marges intérieures de la div */
   background-color: #f2e28c;  
}


#container {
   display: flex;
}

h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: bolder;
   text-align: center;
   color: #505050; 
} 

.item1, .item2, .item3 {
   overflow-y: scroll;
   flex-direction: column; /* les enfants de .bloc s'alignent verticalement (en colonne) */
   text-align: center; /* les enfants de .bloc sont centrés horizontalement */
   margin: 1.5em 0.5em; /* marges externes (y x)*/ 
   padding: 1.5em;
   background-color: #f2e28c;  
}

p{
   text-align: justify; /* texte des paragraphes justifié */
 } 

.picture {
    width: 90%;
    height: 60%;
}

@media screen and (max-width: 992px) {
   #container {
      display: flex;
      flex-direction: column;
      padding: 50px;
      padding-top: 0;
   }
   .picture {
      width: 50%;
      height: 40%;
   }
}

@media screen and (max-width: 610px) {
   header {
      height: 200px;
      font-size: 1em;
      background-position: center;
   }
     /* on masque les éléments de la navbar */
  li > a, li > form {
   display: none;
  }

   /* on affiche l'icone du menu-burger */
   li > .navbarIcon {
      display: block;
   }
}

@media screen and (max-width: 480px) {
   header {
      height:100px;
      font-size: 0.8em;
      background-position: center;
  }

  ul {
   height: 30px;
   background-color: #f2e38c00;
   font-size: 1em;
  }
}




